<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">JEONG YOOJIN</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About Me</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header & about 섹션 start -->
    <header>
        <section id="about">
        <div class="container">
            <div class="row2">
                <div class="wraper col-md-6">
                    <div class="intro-text">
                        <span class="name">정유진</span>
                        <hr class="star-light">
                        <span class="skills">#웹서비스_기획 #디자인 #개발</span>
                    </div>    
                </div>
                <div class="wraper col-md-6">
                    <div class="skillst6">
                    	<div class="skillbar" data-percent="70%">
                    		<div class="count-bar color-1">
                    			<div class="title">HTML/CSS</div>
                    				<div class="count"></div>
                    		</div>
                    	</div>
                    	<div class="skillbar" data-percent="40%">
                    		<div class="count-bar color-1">
                    			<div class="title">jS/jquery</div>
                    				<div class="count"></div>
                    		</div>
                    	</div>
                    	<div class="skillbar" data-percent="80%">
                    		<div class="count-bar color-1">
                    			<div class="title">PYTHON</div>
                    				<div class="count"></div>
                    		</div>
                    	</div>
                    	<div class="skillbar" data-percent="80%">
                    		<div class="count-bar color-1">
                    			<div class="title">PHOTOSHOP</div>
                    				<div class="count"></div>
                    		</div>
                    	</div>
                    		<div class="skillbar" data-percent="100%">
                    		<div class="count-bar color-1">
                    			<div class="title">OA TOOLS</div>
                    				<div class="count"></div>
                    		</div>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
        </section>
    </header>
    <!-- Header & about 섹션 end -->

    <!-- 포트폴리오 섹션 start -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <!-- 에스카라 -->
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p class="fa fa-search-plus fa-3x">에스카라.com</p>
                            </div>
                        </div>
                        <img src="/images/eskara.png" class="img-responsive" alt="">
                    </a>
                </div>
                <!-- 스클럽 -->        
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p class="fa fa-search-plus fa-3x">스클럽(skklub)</p>
                            </div>
                        </div>
                        <img src="/images/skklub.png" class="img-responsive" alt="">
                    </a>
                </div>
                <!-- 헬취 -->
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p class="fa fa-search-plus fa-3x">헬취(hellch)</p>
                            </div>
                        </div>
                        <img src="/images/hellch.png" class="img-responsive" alt="">
                    </a>
                </div>
                
            </div>
        </div>
    </section>
    <!-- 포트폴리오 섹션 end -->

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- 포트폴리오 모달 start -->
    <!-- 에스카라 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>에스카라.com</h2>
                            <hr class="star-primary">
                            <img src="/images/eskara.png" class="img-responsive img-centered" alt="">
                            <p>2016 성균관대학교 대동제 '에스카라' 홍보 사이트입니다. <br>각 날짜 별 가수 라인업 정보를 제공하고, <br>웹프로그래밍 동아리 '멋쟁이사자처럼'의 주점을 홍보하기 위해 제작했습니다.</p>
                            <ul class="list-inline item-details">
                                <li>Site:
                                    <strong><a href="http://에스카라.com">바로가기</a>
                                    </strong>
                                </li>
                                <br>
                                <li>Date:
                                    <strong>2016.05</a>
                                    </strong>
                                </li>
                                <br>
                                <li>Tool:
                                    <strong>html, css, jquery, ruby on rails</a>
                                    </strong>
                                </li>
                                <br>
                                <li>Role:
                                    <strong>기획, 디자인, Front-End 개발</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 스클럽 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>스클럽(skklub)</h2>
                            <hr class="star-primary">
                            <img src="/images/skklub_mok.png" class="img-responsive img-centered" alt="">
                            <p>성균관대학교 교내 동아리 정보를 체계적으로 제공하는 곳이 없어<br>학우들이 불편을 겪는다는 점에 착안하여, <br>동아리를 비롯한 교내 각종 단체 정보를 제공하는 웹서비스를 만들었습니다.<br>(현재 개발 중)</p>
                            <ul class="list-inline item-details">
                                <li>Site:
                                    <strong><a href="https://skklub-yoojinn93.c9users.io/">바로가기</a>
                                    </strong>
                                </li>
                                <br>
                                <li>Date:
                                    <strong>2016.05~</a>
                                    </strong>
                                </li>
                                <br>
                                <li>Tool:
                                    <strong>html, css, jquery, ruby on rails</a>
                                    </strong>
                                </li>
                                <br>
                                <li>Role:
                                    <strong>기획, 디자인, Front-End 개발</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 헬취 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>헬취(hellch)</h2>
                            <hr class="star-primary">
                            <img src="/images/hellch_mok.png" class="img-responsive img-centered" alt="">
                            <p>토익, 토플 등 각종 어학원의 강의 시간 정보를 얻기 위해서는<br>일일이 각 학원 홈페이지에 접속해야 한다는 불편함이 존재합니다. <br>이를 해결하기 위하여 여러 학원의 강의 정보를<br>한 곳에서 모아 비교할 수 있는 웹서비스를 기획해보았습니다. <br>(현재 제작 초기 단계로, 목업 이미지임)</p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong>2016.03~</a>
                                    </strong>
                                </li>
                                <br>
                                <li>Role:
                                    <strong>기획, 디자인, 개발</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 포트폴리오 모달 start end -->
   
 

    <!-- jQuery -->
    <script src="/assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/assets/classie.js"></script>
    <script src="/assets/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/assets/jqBootstrapValidation.js"></script>
    <script src="/assets/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/assets/freelancer.js"></script>
    
    <!-- for skill bar-->
    <script src="/assets/jquery.js" type="text/javascript"></script>
	<script src="/assets/jquery.appear.js" type="text/javascript"></script>
	<script src="/assets/custom.js" type="text/javascript"></script>

</body>

</html>
