@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

html, body, h1, h2, h3, h4, h5, h6, li, p {
  font-family: 'Noto Sans Korean', sans-serif;
}

body {
    overflow-x: hidden;
}

p {
    font-size: 20px;
    font-weight: 300;
}

li {
    font-weight: 300;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #23b300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family:'Noto Sans Korean';
    font-weight: 300;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 4px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family:'Noto Sans Korean';
    font-size: 2em;
}

hr.star-light {
    border-color: #000;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

.img-centered {
    margin: 0 auto;
}

header {
    text-align: center;
    color: #000;
    background: #f0f2f7;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family:'Noto Sans Korean';
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

header .intro-text .do {
    font-size: 1.0em;
    font-weight: 300;
}


@media(min-width:768px) {
    header .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
        font-weight: 400;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        font-weight: 300;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-family:'Noto Sans Korean';
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #5bc2ce;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: #2c3e50;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.76);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content p {
    margin-top: -12px;
    font-weight: 300;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}


form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

.intro-text {
    margin-top: 35px;
}

.dowhat {
    margin-top: 5px;
}

.row2 {
    margin-right: -15px;
    margin-left: 96px;
}

span.skills {
    color: #fff;
    background: #000000;
    padding: 2px 8px;
    margin: -3px -5px;
    line-height: 1.7;
    border-radius: 1px;
}

/* skill bar start
---------------------------------------------------------------------- */

/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, font, ins, kbd, q, s, samp,*/
/*small, strike, strong, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td {*/
/*	margin: 0;*/
/*	padding: 0;*/
/*	border: 0;*/
/*	outline: 0;*/
/*	vertical-align: baseline;*/
/*	background: transparent;*/
/*}*/

/*body {*/
/*	line-height: 1;*/
/*}*/
ol, ul {
	list-style: none;
}
:focus {
	outline: 0;
}
a:focus {
	outline: 0;
	text-decoration: none;
}
body{
	font-family: 'Lato', sans-serif;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}

.wraper{
	width:470px;
	margin:50px auto;
}

.wraper:before,
.wraper:after {
  display: table;
  content: " ";
}

.wraper:after{
  clear: both;
}

/* Skills Style 6 */

.skillst6{
	width:100%;
	color:#fff;
}
.skillst6 .skillbar{
	width: 100%;
	height: 40px;
	position:relative;
	margin-bottom:30px;
}
.skillst6 .count-bar{
	height: 100%;
	width:0px;
	position:relative;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.skillst6 .count-bar.color-1{
	background-color: #23B300;

}
.skillst6 .count-bar.color-2{
	background-color: #fe871f;

}
.skillst6 .count-bar.color-3{
	background-color: #bd5cb9;

}
.skillst6 .count-bar.color-4{
	background-color: #2d7da5;

}
.skillst6 .count-bar.color-5{
	background-color: #f75d41;

}
.skillst6 .title{
	font-size:14px;
	font-weight:400;
	padding-left:12px;
	line-height:40px;
	text-transform:uppercase;
}
.skillst6 .count{
	position:absolute;
	top:0;
	right:12px;
	line-height:40px;
	font-size:14px;
	font-weight:400;
}

/* skill bar end
---------------------------------------------------------------------- */